@model POC1.Models.Setor

@{
    ViewData["Title"] = "Deletar";
}



<h4>Deseja deletar este Setor?</h4>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SetorId" />
        <input type="submit" value="Sim" class="btn btn-danger" /> |
        <a asp-action="Index">Não</a>
    </form>
</div>
<br>
<br>
    <h3>OBS: Caso você delete um setor, irá causar a deleção de todos os seus itens</h3>
