@model IEnumerable<POC1.Models.Setor>

@{
    ViewData["Title"] = "Setor Inicio";
}
    <p>
        <a asp-action="Create">Cadastrar Setor</a> |
        <a data-toggle="collapse" href="#Filtro" role="button" aria-expanded="false" aria-controls="Filtro">Filtros</a>
    </p>   
    <div class="collapse" id="Filtro">
            <div class="card card-body">
                <form  action="~/Setor/Index">
                        <input type="text" class="form-control" name="setor" placeholder="Nome do Setor"> 
                    <br>
                    <input type="submit" class="btn btn-outline-success alinhamentoEsq " value="Filtrar">
                </form>
            </div>
        </div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="acoesHeader"> Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Take(10)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="acoes">
                <a asp-action="Edit" asp-route-id="@item.SetorId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.SetorId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@Html.Partial("_Paginacao")
@* <div class="pagination">
    @{
      var nPag = Math.Ceiling((double)ViewBag.TotalPaginas/10);
      for (int i=1;i<=nPag;i++){
        <a href=@Url.Action("Index", "Setor", new { pag = i, setor=ViewData["Setor"] }) name="pag">@i</a>
      }

      
    }
</div> *@