﻿@model IEnumerable<POC1.Models.Produto>

@{
    ViewData["Title"] = "Home";

}
<div class="container">
  <p>
  @Html.Partial("_Filtro")
  <h2>Produtos</h2>    
  <table class="table table-hover">
    <thead>
      <tr>
        <th>@Html.DisplayNameFor(model => model.Nome)</th>
        <th>@Html.DisplayNameFor(model => model.Preco)</th>
        <th class="acoesHeader">Ações</th>
      </tr>
    </thead>
    <tbody>
    @foreach(var item in Model){    
      <tr>
        <td>@Html.DisplayFor(m => item.Nome)</td>
        <td class="preco">@Html.DisplayFor(m => item.Preco)</td>
        <td class = "acoes"><a asp-controller="Produto" asp-action="Details" asp-route-id="@item.ProdutoId">Detalhes</a></td>
      </tr>
    }
    </tbody>
  </table>
  @Html.Partial("_Paginacao")
</div>

