 @{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var actionName = this.ViewContext.RouteData.Values["action"].ToString();
    var action = "/" +controllerName +"/"+ actionName +"/";
 }
    <a data-toggle="collapse" href="#Filtro" role="button" aria-expanded="false" aria-controls="Filtro">Filtros</a>
  </p>   
  <div class="collapse" id="Filtro">
    <div class="card card-body">
       <form  action=@action autocomplete="off">
        <div class="row">
                    <div class="col">
                      <input type="text" class="form-control" name="nome" placeholder="Nome do Produto">
                    </div>
                    <div class="col">
                      <select class="form-control" asp-items="ViewBag.Setores" name="setor">
                        <option>Setor</option>      
                      </select>
                    </div>
        </div>
        <br>
         <input type="submit" class="btn btn-outline-success alinhamentoEsq " value="Filtrar">
      </form>
    </div>
  </div>  

