 @{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var actionName = this.ViewContext.RouteData.Values["action"].ToString();
 }
 <div class="pagination">
    @{
      var nPag = Math.Ceiling((double)ViewBag.TotalPaginas/10);
      for (int i=1;i<=nPag;i++){
        <a href=@Url.Action( actionName, controllerName, new { pag = i , setor=ViewData["Setor"], nome = ViewData["Nome"] })>@i</a>
      }
      
    }
  </div>