@model POC1.Models.Produto

@{
    ViewData["Title"] = "Detalhes Produto";

}


<div>
    <h4>Detalhes</h4>
    <hr />
    <form asp-action="AddCarrinho" asp-controller="Carrinho" method="GET">
        <dl class="row">
            <input type="hidden" value="@Model.ProdutoId" name="id">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Preco)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Preco)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Setor)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Setor.Nome)
            </dd>
            <dt class = "col-sm-2">
            Quantidade
            </dt>
            <dd class = "col-sm-10">
                <input type="number" min=1 max=10 value=1 name="qntd">
            </dd>
        </dl>
        <div>
            @* <a href=@Url.Action("AddCarrinho", "Carrinho", new { id=@Model.ProdutoId, qntd = i }) asp-controller="Carrinho" asp-action="AddCarrinho" asp-route-id="@Model.ProdutoId">Adicionar ao Carrinho</a> |   *@
            <button type="submit" class="btn btn-link paddingleft">Adicionar ao Carrinho</button> |
            <a asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-link ">Voltar</button> </a> 
            
        </div>
    </form>
</div>
