@model IEnumerable<POC1.Models.Produto>

@{
    ViewData["Title"] = "Produtos Inicio";
}

 @{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var actionName = this.ViewContext.RouteData.Values["action"].ToString();
 }
<p>
    <a asp-action="Create">Cadastrar Produto</a> | 
    @Html.Partial("_Filtro")

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setor)
            </th>
            <th class="acoesHeader">Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td class="preco">
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Setor.Nome)
            </td>
            <td class="acoes ">
                <a asp-action="Edit" asp-route-id="@item.ProdutoId">Editar</a> <br>
                <a asp-action="Delete" asp-route-id="@item.ProdutoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.Partial("_Paginacao")